<a href="https://colab.research.google.com/github/NETRASG/5-days-Online-Workshop-on-Applications-of-Python-programming-in-DA-and-ML/blob/master/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sum of two number

In [2]:
n1=int(input("num1 : "))
n2=int(input("num2 : "))
sum=n1+n2
print("sum : "+str(sum))

num1 : 4
num2 : 6
sum : 10

In [8]:
# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2015
2015 is not a leap year

In [11]:
#1.	Find the compound interest for the given p,n,r  (formula : p(1+n*r/100)n )

p=int(input("enter the value of p = "))
n=int(input("enter the value of the n = "))
r=int(input("enter the value of the r = "))
total=p*(1+n*r/100)*n
print(total)

enter the value of p = 10
enter the value of the n = 10
enter the value of the r = 10
200.0

In [1]:
#2.	Convert centegrade to farenheit  ( f= 9/5*c+32)
centi=int(input("centi ="))
f=9/5*centi+32
print(f)

centi30
86.0

In [4]:
# 3.	Find the greater of two nos 
a=int(input("enter first element = "))
b=int(input("enter the second element = "))
if a>b:
  print("{0} is greater than {1} ".format(a,b))
else:
  print("{0} is greater than {1} ".format(b,a))

enter first element = 10
enter the second element = 19
19 is greater than 10

In [7]:
# 4.	Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function.

PI=3.141
r=int(input("enter the value of radius = "))
h=int(input("enter the value of height = "))
surf_area_cyli=2*PI*r*r*h
surf_area_cone=(1/3)*PI*r*r*h
print("surface area of the cylinder is = {0}".format(surf_area_cyli))
print("surface area of the cone is = {0}".format(surf_area_cone))

enter the value of radius = 4
enter the value of height = 5
surface area of the cylinder is = 502.56
surface area of the cone is = 83.75999999999999

In [11]:
#5.	Find the greatest of four nos ( using ‘and’ operator)   using function.
a=int(input("enter first element = "))
b=int(input("enter second element = "))
c=int(input("enter third element = "))
d=int(input("enter fourth element = "))

if((a>b)and(a>c)and(a>d)):
  print("{0} is greater than {1},{2},{3} ".format(a,b,c,d))
elif((b>a)and(b>c)and(b>d)):
  print("{1} is greater than {0},{2},{3} ".format(b,a,c,d))
elif((c>a)and(c>b)and(c>d)):
  print("{2} is greater than {0},{1},{3} ".format(c,a,b,d))
else:
  print("{3} is greater than {0},{1},{2} ".format(d,a,b,c))

enter first element = 10
enter second element = 20
enter third element = 30
enter fourth element = 4
20 is greater than 30,10,4

In [30]:
# 1 Write a program to print the triangle 
# 2 Enter number 4

# *
# * *
# * * *
# * * * *


n=int(input("n = "))
for i in range(1,n+1):
  for j in range(i):
    print('*',end=" ")
  print("\n")

n = 4
*

* *

* * *

* * * *

In [65]:
#  Enter number 5

# 5
# 4 5
# 3 4 5
# 2 3 4 5
# 1 2 3 4 5

n=int(input("n = "))
for i in range(n+1,1,-1):
  for j in range(i-1,n+1,1):
    print(j,end=" ")
  print("\n")

n = 5
5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [103]:
# i/p  4

# 1
# 2    3
# 3    4   5
# 4    5   6   7

k=1
n=int(input("enter n value: "))
for i in range(0,n):
  if(i>=2):
    k=i+1
  for j in range(0,i+1):
    print(k,end=" ")
    k=k+1
  print()

enter n value: 4
1
2 3
3 4 5
4 5 6 7

In [104]:
# Enter number 4

# 1 2 3 4
# 2 3 4
# 3 4
# 4
# 3 4
# 2 3 4
# 1 2 3 4

rows = 5
n=rows-1
for i in range(1, rows-1):
    for j in range(i,rows):
        print(j,end=" ")
    print()
for i in range(n+1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4

4
3 4
2 3 4
1 2 3 4

In [96]:
# Enter number 5

# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1
rows =int(input("row = "))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

row = 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [105]:
#6 Find the length of a string without using len functions
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: netra
Length of the input string is: 5

In [107]:
#Find the no of words and characters in a string
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:fg hj
Number of words in the string:
2
Number of characters in the string:
5

In [113]:
#Find the no of occurrences of a word in a string

def word_count(str):
    counts = dict()
    words = str.split(" ")

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}