<a href="https://colab.research.google.com/github/NETRASG/5-days-Online-Workshop-on-Applications-of-Python-programming-in-DA-and-ML/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# print multiples of 3 upto 200 using a list
n=200
a=[]
for i in range(n):
  x=3*i
  if x<=200:
    a.append(x)

print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [0]:
# print multiples of 3 upto 200 using a list
mul=[x for x in range(200) if x % 3==0 if x<=200]
print(mul)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [0]:
# print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

div=[x for x in range(1000,2001) if x % 5==0 if x % 7==0]
print(div)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

In [0]:
#Add the n number of names in a list and print them alphabetically and reverse alphabetically.
my_list=['netra','suresh','rohan','abcd','dcba']
n=int(input("n = "))
s=""
for i in range(n):
  s=s+my_list[i]
print(str(s))
print(s[::-1])

n = 4
netrasureshrohanabcd
dcbanahorhserusarten

In [0]:
#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list
a=[]
for i in range(100):
  x=i*i
  if(x>=500 and x<=1000 and x % 5==0):
    a.append(x)
print(a)

[625, 900]

In [55]:
#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it
txt = "a string and store word by word as elements in a tuple and find thelargest word in the  tuple and print it"
words = txt.split()
print(words,'\n')
t = []
for word in words:
   t.append((len(word), word))
print(t,'\n')
t.sort(reverse=True)
print(t,'\n')

res = list()
for length, word in t:
    res.append(word)
    

print(res,'\n')
print('longest element is = ',res[0])

['a', 'string', 'and', 'store', 'word', 'by', 'word', 'as', 'elements', 'in', 'a', 'tuple', 'and', 'find', 'thelargest', 'word', 'in', 'the', 'tuple', 'and', 'print', 'it']

[(1, 'a'), (6, 'string'), (3, 'and'), (5, 'store'), (4, 'word'), (2, 'by'), (4, 'word'), (2, 'as'), (8, 'elements'), (2, 'in'), (1, 'a'), (5, 'tuple'), (3, 'and'), (4, 'find'), (10, 'thelargest'), (4, 'word'), (2, 'in'), (3, 'the'), (5, 'tuple'), (3, 'and'), (5, 'print'), (2, 'it')]

[(10, 'thelargest'), (8, 'elements'), (6, 'string'), (5, 'tuple'), (5, 'tuple'), (5, 'store'), (5, 'print'), (4, 'word'), (4, 'word'), (4, 'word'), (4, 'find'), (3, 'the'), (3, 'and'), (3, 'and'), (3, 'and'), (2, 'it'), (2, 'in'), (2, 'in'), (2, 'by'), (2, 'as'), (1, 'a'), (1, 'a')]

['thelargest', 'elements', 'string', 'tuple', 'tuple', 'store', 'print', 'word', 'word', 'word', 'find', 'the', 'and', 'and', 'and', 'it', 'in', 'in', 'by', 'as', 'a', 'a']

longest element is =  thelargest